.head1, .foot1 {
    color: white;
    background-color: black;
    width: 100%;
    padding: 0px 5px 0px 0px;
}
.foot1{
	text-indent: 200px;
	padding: 13px 5px 9px 0px;
}
.head {
	font-size: 25px;
	font-weight: 900;
	font-family: elephant;
	text-indent: 0px;
	padding: 21px 0px 21px 0px;
}
input{
	width: 80%;
	padding: 10px;
	margin-left: 5px;
	margin-top: -10px;
}

#Submit3 {
    width: 8em;  height: 3em;
    font-family: book antiqua;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    line-height: 0%;
	margin-right: 10px;
}
body {
	background-color: rgb(224, 224, 224);
}
nav center li {
	display: inline;
	margin-right: 60px;
}
header {
	background-color: black;
	padding: 15px 15px;
	
}
h1{
	font-size: 60px;
	font-family: elephant;
	text-indent: 200px;
}


