.header1, .footer1 {
    color: white;
    background-color: black;
    width: 98%;
    padding: 0px 5px 0px 0px;
}
.footer1{
	text-indent: 200px;
	padding: 13px 5px 9px 0px;
}
.header {
	font-size: 25px;
	font-weight: 900;
	font-family: elephant;
	text-indent: 25px;
	padding: 21px 0px 21px 0px;
}
h1{
	font-size: 60px;
	font-family: elephant;
}
input{
	width: 82%;
	padding: 10px;
	margin-left: 10px;
	margin-top: -10px;
}
#Submit1 {
    width: 10em;  height: 3em;
    font-family: book antiqua;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    line-height: 60%;


}
#Submit2 {
    width: 10em;  height: 3em;
    font-family: book antiqua;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    line-height: 60%;
}
body {
	background-color: rgb(224, 224, 224);
}
nav center li {
	display: inline;
	margin-right: 60px;
}
header {
	background-color: black;
	padding: 15px 15px;
	
}